<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Calculation Table Maker</title>

        <!-- Add Vue -->
        <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    </head>
    <body>

        <div id="calc" >

                <button @click="SquareTable" >3 digit ends of squares</button>
                <button @click="Century" >Century Value</button>

            <ol>
               <li v-for="x in Octets">{{x}}</li>
               <li v-for="y in Cen">{{y}}</li>
            </ol>

        
            </div>


            

        <script>

           var Octets = {1:"0"};
           var Cen = {"00":"0"};
           
            var calc = new Vue({
                el:"#calc",

                data:{
                        Octets,
                        Cen
                    },
                methods:{
                    
                    SquareTable: function(){
                        
                        var tmp = "";
                        for (var i = 1; i < 125; i++){
                            tmp = Math.pow(i, 2) + " ";
                            //todo replace with loop
                            tmp += Math.pow(250 - i, 2) + " ";
                            tmp += Math.pow(250 + i, 2) + " ";
                            tmp += Math.pow(500 - i, 2) + " ";
                            tmp += Math.pow(500 + i, 2) + " ";
                            tmp += Math.pow(750 - i, 2) + " ";
                            tmp += Math.pow(750 + i, 2) + " ";
                            tmp += Math.pow(1000 - i, 2) + " ";

                            Octets[i] = tmp;

                          

                        }
                        

                        
                    },

                Century: function(){
                    var tmp = 0;

                    for (var i = 0; i < 10; i++){
                        for (var j = 0; j < 10; j++){
                            tmp = (i * 10) + j;
                            Cen[i + j + ""] = ( ( tmp % 7) + Math.floor(tmp/4) % 7 ); //check this line
                        }
                    }
                }
                    
                }
            });
        </script>
    </body>
</html>